In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
req = requests.get("https://www.esportsearnings.com/games/164-league-of-legends/top-players")
soup = BeautifulSoup(req.content, 'lxml')

In [18]:
body = soup.find('body')

In [103]:
df = pd.DataFrame(columns=['summonerName', 'realName', 'prizeMoney'])

In [104]:
countryname = []
for row in body.find_all('tr'):
    td = row.find_all('td')
    try:
        for a in (td[1].find_all('a')): 
            try: 
                for b in a.find_all('img'):
                    countryname.append(b['title'])
            except:
                continue
        summonerName = (td[1].text)
        realName = td[2].text
        prizeMoney = td[3].text
        df.loc[len(df)] = [summonerName, realName,  prizeMoney]
    except:
        continue

In [105]:
df['country'] = countryname

In [106]:
df

    summonerName            realName     prizeMoney                    country
0          Faker     Lee, Sang Hyeok  $1,169,713.35         Korea, Republic of
1           Wolf        Lee, Jae Wan    $907,635.50         Korea, Republic of
2           Bang        Bae, Jun Sik    $903,134.26         Korea, Republic of
3          Bengi      Bae, Seong Ung    $810,683.00         Korea, Republic of
4          Blank        Kang, Sun Gu    $554,163.75         Korea, Republic of
5       Ambition     Kang, Chan Yong    $535,740.45         Korea, Republic of
6           Duke       Lee, Ho Seong    $480,306.06         Korea, Republic of
7          Crown         Lee, Min Ho    $465,294.06         Korea, Republic of
8          CuVee      Lee, Seong Jin    $462,136.56         Korea, Republic of
9        Core JJ         Jo, Yong In    $461,331.59         Korea, Republic of
10         Ruler      Park, Jae Hyuk    $458,792.94         Korea, Republic of
11          PawN       Heo, Won Seok    $419,762.78         Korea, Republic of
12     ClearLove           Ming, Kai    $405,634.72                      China
13          Mata      Cho, Se Hyeong    $398,861.78         Korea, Republic of
14        Peanut        Han, Wang Ho    $391,933.02         Korea, Republic of
15        Impact     Jung, Eon Yeong    $356,597.64         Korea, Republic of
16        Looper   Jang, Hyeong Seok    $346,307.48         Korea, Republic of
17          Huni     Heo, Seung Hoon    $331,351.04         Korea, Republic of
18           Uzi         Jian, Zihao    $323,232.65                      China
19          Haru     Kang, Min Seung    $317,303.96         Korea, Republic of
20          PraY        Kim, Jong In    $306,408.60         Korea, Republic of
21           imp       Gu, Seung Bin    $299,730.28         Korea, Republic of
22          bebe       Cheng, Bo Wei    $285,315.32  Taiwan, Republic of China
23          Deft       Kim, Hyuk Kyu    $284,938.80         Korea, Republic of
24          Mlxg         Liu, Shi Yu    $282,715.27                      China
25         DanDy        Choi, In Kyu    $281,150.19         Korea, Republic of
26        Piglet     Chae, Gwang Jin    $264,929.15         Korea, Republic of
27       GorillA    Kang, Beom Hyeon    $262,652.88         Korea, Republic of
28         Koro1          Tong, Yang    $259,298.75                      China
29         Meiko            Tian, Ye    $257,766.89                      China
..           ...                 ...            ...                        ...
70       Lustboy       Ham, Jang Sik    $130,020.33         Korea, Republic of
71           Ben      Nam, Dong Hyun    $129,687.14         Korea, Republic of
72      westdoor        Liu, Shu Wei    $129,318.20  Taiwan, Republic of China
73      Hauntzer       Kevin Yarnell    $129,306.40              United States
74           MMD        Yau, Li Hung    $128,698.42  Taiwan, Republic of China
75       Odoamne        Andrei Pascu    $127,663.12                    Romania
76          Ming       Shi, Sen Ming    $126,961.59                      China
77        Meteos     William Hartman    $126,176.67              United States
78           kid             Ge, Yan    $126,156.44                      China
79         inSec       Choi, In Seok    $124,944.48         Korea, Republic of
80      Biofrost        Vincent Wang    $121,406.32                     Canada
81          wuxx         Wang, Cheng    $120,338.48                      China
82          dade         Bae, Eo Jin    $118,986.53         Korea, Republic of
83       Xmithie        Jake Puchero    $117,712.40                Philippines
84      Alex Ich   Alexey Ichetovkin    $117,224.97         Russian Federation
85       Cyanide      Lauri Happonen    $115,902.10                    Finland
86   Diamondprox  Daniel Reshetnikov    $114,566.55         Russian Federation
87        Zzitai         Liu, Zhihao    $114,371.08                      China
88       MadLife        Hong, Min Gi    $114,055.46         Korea, Republic of
89       Gogoing        Gao, Di Ping    $113,570.08                      China
90       WeiXiao      Gao, Xue Cheng    $113,172.97                      China
91          Cool         Yu, Jia Jun    $111,855.08                      China
92       MrAlbis      Kang, Chia Wei    $110,804.90  Taiwan, Republic of China
93      LoveLing             Yin, Le    $110,071.90                      China
94         Score        Go, Dong Bin    $109,657.38         Korea, Republic of
95         Acorn      Choi, Cheon Ju    $109,619.63         Korea, Republic of
96           Shy     Park, Sang Myun    $108,688.04         Korea, Republic of
97           san      Guo, Jun Liang    $108,594.22                      China
98             U          Ceng, Long    $107,432.88                      China
99        jensen      Nicolaj Jensen    $106,215.00                    Denmark

[100 rows x 4 columns]

In [111]:
df['prizeMoney'].transform(lambda x: intx.replace(',','')[1:])

0     1169713.35
1      907635.50
2      903134.26
3      810683.00
4      554163.75
5      535740.45
6      480306.06
7      465294.06
8      462136.56
9      461331.59
10     458792.94
11     419762.78
12     405634.72
13     398861.78
14     391933.02
15     356597.64
16     346307.48
17     331351.04
18     323232.65
19     317303.96
20     306408.60
21     299730.28
22     285315.32
23     284938.80
24     282715.27
25     281150.19
26     264929.15
27     262652.88
28     259298.75
29     257766.89
         ...
70     130020.33
71     129687.14
72     129318.20
73     129306.40
74     128698.42
75     127663.12
76     126961.59
77     126176.67
78     126156.44
79     124944.48
80     121406.32
81     120338.48
82     118986.53
83     117712.40
84     117224.97
85     115902.10
86     114566.55
87     114371.08
88     114055.46
89     113570.08
90     113172.97
91     111855.08
92     110804.90
93     110071.90
94     109657.38
95     109619.63
96     108688.04
97     108594.22
98     107432.88
99     106215.00
Name: prizeMoney, Length: 100, dtype: object